(
    version: 2,
    name: "example.scene",
    entities: [
        (
            id: "dd53e8ca-f301-4bd0-8c16-c52ba7a41866",
            name: Some("Main Camera"),
            components: {
                "Camera3d": {
                    "aspect_ratio": 1.5214626789093018,
                    "far": 1000.0,
                    "fov_y_radians": 0.7853981852531433,
                    "near": 0.10000000149011612,
                },
                "PrimaryCamera": {},
                "Transform": {
                    "rotation": {
                        "w": 1.0,
                        "x": 0.0,
                        "y": 0.0,
                        "z": 0.0,
                    },
                    "scale": {
                        "x": 1.0,
                        "y": 1.0,
                        "z": 1.0,
                    },
                    "translation": {
                        "x": 0.0,
                        "y": 2.7200000286102295,
                        "z": 10.0,
                    },
                },
                "Visible": {},
            },
            children: [],
        ),
        (
            id: "09c123ca-f419-4eca-a63f-ec40975945fd",
            name: Some("Ground"),
            components: {
                "ColliderShape3D": {
                    "$fields": {
                        "half_extents": {
                            "x": 12.0,
                            "y": 0.10000000149011612,
                            "z": 12.0,
                        },
                    },
                    "$variant": "Box",
                },
                "PhysicsMaterial": {
                    "density": 1.0,
                    "friction": 0.8999999761581421,
                    "restitution": 0.20000000298023224,
                },
                "RigidBodyType": "Static",
                "Transform": {
                    "rotation": {
                        "w": 1.0,
                        "x": 0.0,
                        "y": 0.0,
                        "z": 0.0,
                    },
                    "scale": {
                        "x": 1.0,
                        "y": 1.0,
                        "z": 1.0,
                    },
                    "translation": {
                        "x": 0.0,
                        "y": -0.10000000149011612,
                        "z": 0.0,
                    },
                },
            },
            children: [],
        ),
        (
            id: "825a6b16-27bc-433d-a463-925f87b9dde3",
            name: Some("Preview Cube"),
            components: {
                "MeshRenderer": {
                    "material": "materials/default.ron",
                    "mesh": "meshes/cube.glb",
                    "texture": "textures/placeholder.png",
                },
                "RenderLayer3D": {},
                "Transform": {
                    "rotation": {
                        "w": 1.0,
                        "x": 0.0,
                        "y": 0.0,
                        "z": 0.0,
                    },
                    "scale": {
                        "x": 1.0,
                        "y": 1.0,
                        "z": 1.0,
                    },
                    "translation": {
                        "x": 0.0,
                        "y": 0.5,
                        "z": 0.0,
                    },
                },
                "Visible": {},
            },
            children: [],
        ),
    ],
)